{% load static %}

{% block content %}


<div class="main-footer">
    <div class="my-container">
        <div class="footer">

            <div class="contacts">
                <p class="icon-p"> 
                    Our social network contacts 
                </p>

                <div class="icons">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>

                    <a href=""><i class="fa-brands fa-facebook"></i></a>

                    <a href=""><i class="fa-brands fa-telegram"></i></a>

                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>

                <h5>
                    The pleasant of coffee
                </h5>
                <p>
                    Weekend well spent with cups of coffee, laugh and love.
                </p>

            </div>

            <div class="location" id="location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24296.25003042711!2d-3.7163982502683424!3d40.43030683922207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287e900bcfcd%3A0x2165f2bdce753793!2z0KHRgtCw0YDQsdCw0LrRgQ!5e0!3m2!1sru!2s!4v1723015701925!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>




{% endblock %}